<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="библиотека.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=WIN-8K19KB6IDBS;Integrated Security=SSPI"
            providerName="System.Data.OleDb" />
        <add name="библиотека.Properties.Settings.ConnectionString1"
            connectionString="Provider=SQLNCLI11;Data Source=WIN-8K19KB6IDBS;Integrated Security=SSPI;Initial Catalog=библиотека"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>